
#check
{
    color:blue;
}
#submitBtn
{
    background-color:green;
    color:white;

}
#editBtn
{
    background-color:red;
    color:white;
    
}
#save
{
    background-color: purple;
    color:white;
}